name: .NET

on:
  push:
    branches: [ main ]
  pull_request:
    branches: [ main ]

jobs:
  build:

    runs-on: ubuntu-latest

    steps:
    - uses: actions/checkout@v2
    - name: Setup .NET
      uses: actions/setup-dotnet@v1
      with:
        dotnet-version: 3.1.x
    - name: change dir
      run: cd InfoWriterWebSocketServer/
    - name: show files
      run: ls
    - name: Restore dependencies
    
      run: dotnet restore
    - name: Build
      run: dotnet build --configuration Release 
    - name: Test
      run: dotnet test --no-build --verbosity normal
    - name: show files after build
      run: ls
